<a href="https://colab.research.google.com/github/jalexcanon/MujeresDigitales/blob/master/Clase11(MD).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DataSets**

**Metodo 1 (Github)**

In [145]:
import pandas as pd

In [ ]:
url = 'copied_raw_GH_link'
df1 = pd.read_csv(url)
# Traerlo de Github

**MÃ©todo 2 (Local)**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving pokemon_data.csv to pokemon_data.csv

In [146]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['pokemon_data.csv']),sep=",")
df2.head(10)#sino le coloco nada me muestra las primeras 5 lineas

   #                       Name Type 1  ... Speed  Generation  Legendary
0  1                  Bulbasaur  Grass  ...    45           1      False
1  2                    Ivysaur  Grass  ...    60           1      False
2  3                   Venusaur  Grass  ...    80           1      False
3  3      VenusaurMega Venusaur  Grass  ...    80           1      False
4  4                 Charmander   Fire  ...    65           1      False
5  5                 Charmeleon   Fire  ...    80           1      False
6  6                  Charizard   Fire  ...   100           1      False
7  6  CharizardMega Charizard X   Fire  ...   100           1      False
8  6  CharizardMega Charizard Y   Fire  ...   100           1      False
9  7                   Squirtle  Water  ...    43           1      False

[10 rows x 12 columns]

In [ ]:
df2.shape

(800, 12)

In [ ]:
df2.tail(10) #imprime los 10 Ãºltimos valores (la cola)

       #                 Name   Type 1  ... Speed  Generation  Legendary
790  714               Noibat   Flying  ...    55           6      False
791  715              Noivern   Flying  ...   123           6      False
792  716              Xerneas    Fairy  ...    99           6       True
793  717              Yveltal     Dark  ...    99           6       True
794  718     Zygarde50% Forme   Dragon  ...    95           6       True
795  719              Diancie     Rock  ...    50           6       True
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[10 rows x 12 columns]

In [ ]:
df2['Type 1']

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object

In [ ]:
pk=df2['Type 1'].unique()
print(pk)

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']

In [ ]:
for i in pk:
  print(i)

Grass
Fire
Water
Bug
Normal
Poison
Electric
Ground
Fairy
Fighting
Psychic
Rock
Ghost
Ice
Dragon
Dark
Steel
Flying

In [ ]:
df2.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [140]:
#Creando una nueva columna
df2['catched']=False
df2

            #                   Name   Type 1  ... Generation Legendary catched
0           1              Bulbasaur    Grass  ...          1     False   False
1           2                Ivysaur    Grass  ...          1     False   False
2           3               Venusaur    Grass  ...          1     False   False
3           3  VenusaurMega Venusaur    Grass  ...          1     False   False
4           4             Charmander     Fire  ...          1     False   False
...       ...                    ...      ...  ...        ...       ...     ...
796       719    DiancieMega Diancie     Rock  ...          6      True   False
797       720    HoopaHoopa Confined  Psychic  ...          6      True   False
798       720     HoopaHoopa Unbound  Psychic  ...          6      True   False
799       721              Volcanion     Fire  ...          6      True   False
catched  True                   True     True  ...       True      True   False

[801 rows x 13 columns]

In [ ]:
df2.describe(include='all')

                 #       Name Type 1  ... Generation  Legendary  catched
count   800.000000        800    800  ...  800.00000        800      800
unique         NaN        800     18  ...        NaN          2        1
top            NaN  Excadrill  Water  ...        NaN      False    False
freq           NaN          1    112  ...        NaN        735      800
mean    362.813750        NaN    NaN  ...    3.32375        NaN      NaN
std     208.343798        NaN    NaN  ...    1.66129        NaN      NaN
min       1.000000        NaN    NaN  ...    1.00000        NaN      NaN
25%     184.750000        NaN    NaN  ...    2.00000        NaN      NaN
50%     364.500000        NaN    NaN  ...    3.00000        NaN      NaN
75%     539.250000        NaN    NaN  ...    5.00000        NaN      NaN
max     721.000000        NaN    NaN  ...    6.00000        NaN      NaN

[11 rows x 13 columns]

In [143]:
#cambiando el valor de capturado de los pokemones de fuego(darle play a la celda que crea el catched)
mask=df2["Type 1"] == "Fire"
df2.loc[mask,"catched"]=True
print(df2.head(10))

   #                       Name Type 1  ... Generation Legendary catched
0  1                  Bulbasaur  Grass  ...          1     False   False
1  2                    Ivysaur  Grass  ...          1     False   False
2  3                   Venusaur  Grass  ...          1     False   False
3  3      VenusaurMega Venusaur  Grass  ...          1     False   False
4  4                 Charmander   Fire  ...          1     False    True
5  5                 Charmeleon   Fire  ...          1     False    True
6  6                  Charizard   Fire  ...          1     False    True
7  6  CharizardMega Charizard X   Fire  ...          1     False    True
8  6  CharizardMega Charizard Y   Fire  ...          1     False    True
9  7                   Squirtle  Water  ...          1     False   False

[10 rows x 13 columns]

In [160]:
df2.loc[0:3,'Legendary']='Hola'
df2.loc[0:4,'Hola']='Hola' #Al no encontrar la columna "Hola" crea una
print(df2)

       #                   Name   Type 1  ... Generation  Legendary  Hola
0      1              Bulbasaur    Grass  ...          1       Hola  Hola
1      2                Ivysaur    Grass  ...          1       Hola  Hola
2      3               Venusaur    Grass  ...          1       Hola  Hola
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola  Hola
4      4             Charmander     Fire  ...          1      False  Hola
..   ...                    ...      ...  ...        ...        ...   ...
795  719                Diancie     Rock  ...          6       True   NaN
796  719    DiancieMega Diancie     Rock  ...          6       True   NaN
797  720    HoopaHoopa Confined  Psychic  ...          6       True   NaN
798  720     HoopaHoopa Unbound  Psychic  ...          6       True   NaN
799  721              Volcanion     Fire  ...          6       True   NaN

[800 rows x 13 columns]

In [150]:
df2['Type 1']=='Fire'

0      False
1      False
2      False
3      False
4       True
       ...
795    False
796    False
797    False
798    False
799     True
Name: Type 1, Length: 800, dtype: bool

In [151]:
df2.loc[df2['Type 1']=='Fire',:] #Los muestra todos

       #                       Name Type 1  ... Generation  Legendary  Hola
4      4                 Charmander   Fire  ...          1      False  Hola
5      5                 Charmeleon   Fire  ...          1      False   NaN
6      6                  Charizard   Fire  ...          1      False   NaN
7      6  CharizardMega Charizard X   Fire  ...          1      False   NaN
8      6  CharizardMega Charizard Y   Fire  ...          1      False   NaN
42    37                     Vulpix   Fire  ...          1      False   NaN
43    38                  Ninetales   Fire  ...          1      False   NaN
63    58                  Growlithe   Fire  ...          1      False   NaN
64    59                   Arcanine   Fire  ...          1      False   NaN
83    77                     Ponyta   Fire  ...          1      False   NaN
84    78                   Rapidash   Fire  ...          1      False   NaN
135  126                     Magmar   Fire  ...          1      False   NaN
147  136                    Flareon   Fire  ...          1      False   NaN
158  146                    Moltres   Fire  ...          1       True   NaN
169  155                  Cyndaquil   Fire  ...          2      False   NaN
170  156                    Quilava   Fire  ...          2      False   NaN
171  157                 Typhlosion   Fire  ...          2      False   NaN
236  218                     Slugma   Fire  ...          2      False   NaN
237  219                   Magcargo   Fire  ...          2      False   NaN
259  240                      Magby   Fire  ...          2      False   NaN
263  244                      Entei   Fire  ...          2       True   NaN
270  250                      Ho-oh   Fire  ...          2       True   NaN
276  255                    Torchic   Fire  ...          3      False   NaN
277  256                  Combusken   Fire  ...          3      False   NaN
278  257                   Blaziken   Fire  ...          3      False   NaN
279  257      BlazikenMega Blaziken   Fire  ...          3      False   NaN
352  322                      Numel   Fire  ...          3      False   NaN
353  323                   Camerupt   Fire  ...          3      False   NaN
354  323      CameruptMega Camerupt   Fire  ...          3      False   NaN
355  324                    Torkoal   Fire  ...          3      False   NaN
435  390                   Chimchar   Fire  ...          4      False   NaN
436  391                   Monferno   Fire  ...          4      False   NaN
437  392                  Infernape   Fire  ...          4      False   NaN
518  467                  Magmortar   Fire  ...          4      False   NaN
542  485                    Heatran   Fire  ...          4       True   NaN
557  498                      Tepig   Fire  ...          5      False   NaN
558  499                    Pignite   Fire  ...          5      False   NaN
559  500                     Emboar   Fire  ...          5      False   NaN
572  513                    Pansear   Fire  ...          5      False   NaN
573  514                   Simisear   Fire  ...          5      False   NaN
614  554                   Darumaka   Fire  ...          5      False   NaN
615  555    DarmanitanStandard Mode   Fire  ...          5      False   NaN
616  555         DarmanitanZen Mode   Fire  ...          5      False   NaN
692  631                    Heatmor   Fire  ...          5      False   NaN
721  653                   Fennekin   Fire  ...          6      False   NaN
722  654                    Braixen   Fire  ...          6      False   NaN
723  655                    Delphox   Fire  ...          6      False   NaN
730  662                Fletchinder   Fire  ...          6      False   NaN
731  663                 Talonflame   Fire  ...          6      False   NaN
735  667                     Litleo   Fire  ...          6      False   NaN
736  668                     Pyroar   Fire  ...          6      False   NaN
799  721                  Volcanion   Fire  ...          6       True   NaN

[52 rows x 13 columns]

In [ ]:
print(df2.drop(labels="Hola",axis=1,inplace=True)) #eliminar valores nulos (1:15:00) (ver inplace y drop)

In [167]:
df2.loc[(df2['Type 1']=='Fire')| (df2['Type 1']=='Grass'),:] #Trae los dos tipos

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1       Hola
1      2                Ivysaur  Grass  ...    60           1       Hola
2      3               Venusaur  Grass  ...    80           1       Hola
3      3  VenusaurMega Venusaur  Grass  ...    80           1       Hola
4      4             Charmander   Fire  ...    65           1      False
..   ...                    ...    ...  ...   ...         ...        ...
735  667                 Litleo   Fire  ...    72           6      False
736  668                 Pyroar   Fire  ...   106           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False
799  721              Volcanion   Fire  ...    70           6       True

[122 rows x 12 columns]

In [173]:
df2['catched']=False
df2.head(2)

   #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  catched
0  1  Bulbasaur  Grass  Poison  ...     45           1       Hola    False
1  2    Ivysaur  Grass  Poison  ...     60           1       Hola    False

[2 rows x 13 columns]

In [179]:
df2.loc[df2['Type 1'] == 'Grass','catched'] =True
df2.head(2)

   #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  catched
0  1  Bulbasaur  Grass  Poison  ...     45           1       Hola     True
1  2    Ivysaur  Grass  Poison  ...     60           1       Hola     True

[2 rows x 13 columns]

In [190]:
def_type=df2['Type 1'].unique()

In [195]:
for i in def_type:
  df2.loc[df2['Type 1'] == i,'catched'] =True
  print(df2)

       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]

In [197]:
#otra forma, sin crear una variable
for i in df2['Type 1'].unique():
  df2.loc[df2['Type 1'] == i,'catched'] =True
  print(df2)

       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]
       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1       Hola     True
1      2                Ivysaur    Grass  ...          1       Hola     True
2      3               Venusaur    Grass  ...          1       Hola     True
3      3  VenusaurMega Venusaur    Grass  ...          1       Hola     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]

**MÃ©todo 3 (Drive)**

In [ ]:
from google.colab import drive
import os
drive.mount('/content/gdrive')
# Establecer ruta de acceso en drive
import os
print(os.getcwd())
os.chdir("/content/gdrive/My Drive")